# BOT_TOKEN=8373329394:AAFjK_Nyuo-zkGUJB4uGAAAdf2tHbrvMEb4
DB_HOST=127.0.0.1
DB_USER=botuser
DB_PASSWORD=strong_password
DB_NAME=my_database
DB_PORT=3307
BOT_TOKEN=8882404019:AAHq3DWiPHXfZWQxbIbtGFW9M1nSu9_5CNE
